In [52]:
# Why Should We Use Lists?
# Lists are versatile and allow you to:

# Store multiple items in a single variable.
# Access, modify, and iterate through elements easily.
# Handle dynamic data since their size can grow or shrink as needed.
# Perform complex operations like sorting, filtering, and aggregations efficiently.

In [54]:
# Example Without Using a List
# Imagine you're collecting daily sales figures for a week.
# Without a list, you might do something like this:

In [56]:
day1 = 100
day2 = 200
day3 = 150
day4 = 180
day5 = 210
day6 = 190
day7 = 220

# Calculate total sales
total_sales = day1 + day2 + day3 + day4 + day5 + day6 + day7
print("Total Sales:", total_sales)

Total Sales: 1250

In [58]:
# Limitations:

# Adding a new day requires creating another variable (day8).
# Summing sales is repetitive and hard to manage for many variables.
# You can't perform operations like finding the average or sorting the sales values easily.

In [60]:
# Example Using a List
# Using a list simplifies this significantly:

In [62]:
sales = [100, 200, 150, 180, 210, 190, 220]

# Calculate total sales
total_sales = sum(sales)
print("Total Sales:", total_sales)

# Additional benefits:
average_sales = total_sales / len(sales)
print("Average Sales:", average_sales)

highest_sales = max(sales)
print("Highest Sales:", highest_sales)

Total Sales: 1250
Average Sales: 178.57142857142858
Highest Sales: 220

In [64]:
# Advantages:

# Dynamic resizing: Just append more sales data without adding variables.
# Built-in functions simplify operations like summing, averaging, or sorting.
# Better readability and maintainability.

In [66]:
# Lists in Python are incredibly powerful and versatile. 
# Here's a breakdown of what else you can do with lists:

In [68]:
# Add and Remove Elements
# Appending an element: Add an item at the end.

In [70]:
my_list = [1, 2, 3]
my_list.append(4)  # [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [72]:
# Inserting at a specific position: Add an item anywhere.

In [74]:
my_list.insert(1, 10)  # [1, 10, 2, 3, 4]
print(my_list)

[1, 10, 2, 3, 4]

In [76]:
# Removing an element: Delete an item by value or index.

In [78]:
print(my_list)
my_list.remove(10)  # [1, 2, 3, 4]
print(my_list)
my_list.pop(2)      # Removes the item at index 2, resulting in [1, 2, 4]
print(my_list)

[1, 10, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 4]

In [80]:
# Slicing and Accessing Elements

In [82]:
print(my_list)
print(my_list[0])  # First element: 1
print(my_list[-1]) # Last element: 4

[1, 2, 4]
1
4

In [84]:
#Slice a portion of the list:

In [88]:
sub_list = my_list[1:3]  # [2, 4]
print(sub_list)

[2, 4]

In [90]:
#Iterate Over Lists
#Use a loop to process each element.

In [92]:
for item in my_list:
    print(item)

1
2
4

In [94]:
#Sort and Reverse
#Sort the list (ascending or descending):

In [100]:
numbers = [3, 1, 4, 2]
print(numbers)
numbers.sort()  # [1, 2, 3, 4]
print(numbers)
numbers.sort(reverse=True)  # [4, 3, 2, 1]
print(numbers)

[3, 1, 4, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [106]:
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [108]:
# #Find Information
# Check if an item exists:
 
print(3 in numbers)  # True

True

In [110]:
#Count occurrences:
print(numbers.count(4))  # 1

1

In [118]:
# Find the index of an item:

print(numbers.index(1))  # 1

3

In [ ]:
# List Comprehensions

In [120]:
squares = [x**2 for x in range(5)]  # [0, 1, 4, 9, 16]
print(squares)

[0, 1, 4, 9, 16]

In [122]:
# Combine and Repeat Lists

In [128]:
# Concatenate two lists:
a = [1, 2]
b = [3, 4]
c = a + b  # [1, 2, 3, 4]
print(c)

[1, 2, 3, 4]

In [132]:
#Repeat a list:
repeated = a * 3  # [1, 2, 1, 2, 1, 2]
print(repeated)

[1, 2, 1, 2, 1, 2]

In [ ]:
# Work with Multiple Data Types
# Lists can store mixed data types:

In [134]:
mixed_list = [42, "hello", 3.14, True]
print(mixed_list)

[42, 'hello', 3.14, True]

In [ ]:
# Copy or Clear a List

In [136]:
# Copy a list:
copy_list = my_list.copy()
print(copy_list)

[1, 2, 4]

In [140]:
# Clear all elements:
my_list.clear()  # []

print(my_list)

[]

In [142]:
#Convert Other Data Types to a List

In [148]:
#Convert strings, tuples, or ranges to a list:
list_from_string = list("hello")  # ['h', 'e', 'l', 'l', 'o']
list_from_tuple = list((1, 2, 3))  # [1, 2, 3]
list_from_range = list(range(5))   # [0, 1, 2, 3, 4]
print(list_from_string)
print(list_from_tuple)
print(list_from_range)

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]
[0, 1, 2, 3, 4]

In [150]:
# Advanced Uses:
# Nested Lists: Store lists within a list.

In [152]:
nested = [[1, 2], [3, 4], [5, 6]]
print(nested[1][0])  # Access 3

3

In [154]:
# Filter Data:
evens = [x for x in numbers if x % 2 == 0]  # Only even numbers
for even in evens:
    print(even)

4
2

In [156]:
# Reduce or Aggregate: Use external libraries like functools:
from functools import reduce
product = reduce(lambda x, y: x * y, [1, 2, 3, 4])  # 24
print(product)

24